*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(206, 214, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fondo{
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.t1{
    color: rgb(46, 91, 226);
    text-align: center;
    padding-top: 65px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 19px;
    font-weight: 500;
}

.t2{
    color: rgb(0, 6, 68);
    text-align: center;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 38px;
    font-weight: 600;
}

.t3{
    color: rgb(75, 75, 75);
    text-align: center;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.contenedorArriba{
    display: flex;
    justify-content:space-around ;
    width: 1400px;
    padding-top: 95px;
  }

.contenedorAbajo{
  display: flex;
  justify-content:space-around ;
  width: 1400px;
  padding-top: 55px;
  padding-bottom: 100px;
}

div{
    width: 350px;
    background-color: white;
}

h1{
   font-family: "Roboto" , sans-serif;
   color: rgb(33, 45, 99);
   padding-top: 10px;
   padding-bottom: 5px;
   font-size: 19px;
   font-weight: 600;
}

p{
   font-family: "Roboto" , sans-serif;
   color: rgb(75, 75, 75);
   font-size: 17px;
   font-weight: 400;
}